@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,900&family=Orbitron:wght@600&family=Peralta&family=Space+Grotesk&display=swap');

html {
    box-sizing: border-box;
    font-size: 16 px;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 37rem;
  margin-left: auto;
  margin-right: auto;
  background-color: lightyellow;
}

.website {
  font-family: "Big Shoulders Inline";
  font-weight: 900;
  font-size: 2rem;
  color:deeppink;
  display: inline-block;
  border: 2px solid green;
  border-radius: 1rem;
  padding: 1rem;
}

.container {
    text-align: center;
}

h1 {
  font-family: "Peralta", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  font-style: normal;
  text-align: center;
  color: darkblue;
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px 20px;
  padding: 0px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1 rem;
  color: #333;
  align-items: center; 
}

.tags li {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: darkgreen;
  font-weight: 500;
  cursor: pointer;
}

.tags li button {
  background-color:;
  border: 2px solid green;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

h5{
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-top: auto;
  text-transform: uppercase;
  max-width: 100%;
}

time {
  border-left: 2px solid black;
  padding-left: 6px;
}

aside {
    background-color: lightpink;
    padding: 5px;
    margin: 20px 0;
    border-radius: 6px;
}

aside h4 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.4rem;
    margin: 0;
}

aside h5 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
    border-bottom: 2px solid black;
    margin: auto;
}

aside p {
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.2;
}

h2{
    font-family: 
}

p{
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.1rem;
  line-height: 2;
}

p span {
  font-family: "Space Grotesk", sans-serif;
  color: black;
  font-style: italic;
}

section p {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  color: darkgreen
}

blockquote {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
  font-style: italic;
  border-left: 10px solid purple;
  border-radius: 6px;
  padding: 0.25em;
  background-color: rgb(248, 197, 248);
  margin: 2rem auto;
  max-width: 600px; 
}

h2 {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    color: darkblue;
}

.questions {
    list-style: none;
    font-family: "Space Grotesk", sans-serif;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    margin: 20px;
    padding: 6px 4px;
    font-size: 1.3rem;
}

.questions li {
    position: relative;
    padding-left: 2em;
    margin-bottom: 10px;
}

.questions li::before {
    content: "🤔";
    position: absolute;
    left: 0;
    right: 0;
    font-size: 1.2em;
}

.resources {
    list-style: none;
    background-color: rgb(182, 240, 206);
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.3rem;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

p {
    max-width: 100%;
    margin: 1rem 0;
}

figure {
    max-width: 100%;
    margin: 0;
}

figcaption {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.875rem;
    border-bottom: 1px solid black;
}